## Soumil Nitin Shah 
* Bachelor in Electronic Engineering |
* Masters in Electrical Engineering | 
* Master in Computer Engineering |

* Website : https://soumilshah.herokuapp.com
* Github: https://github.com/soumilshah1995
* Linkedin: https://www.linkedin.com/in/shah-soumil/
* Blog: https://soumilshah1995.blogspot.com/
* Youtube : https://www.youtube.com/channel/UC_eOodxvwS_H7x2uLQa-svw?view_as=subscriber
* Facebook Page : https://www.facebook.com/soumilshah1995/
* Email : shahsoumil519@gmail.com
* projects : https://soumilshah.herokuapp.com/project


Hello! I’m Soumil Nitin Shah, a Software and Hardware Developer based in New York City. I have completed by Bachelor in Electronic Engineering and my Double master’s in Computer and Electrical Engineering. I Develop Python Based Cross Platform Desktop Application , Webpages , Software, REST API, Database and much more I have more than 2 Years of Experience in Python


## Authors

* **Soumil Nitin Shah**

### Learning Pyspark in a easy way

In [9]:
# Installing pyspark 
!pip install pyspark

Requirement already satisfied: pyspark in c:\python38\lib\site-packages (3.0.0)
Requirement already satisfied: py4j==0.10.9 in c:\python38\lib\site-packages (from pyspark) (0.10.9)

In [12]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
    .appName("MyProcess")\
    .master("local[*]")\
    .getOrCreate()
spark

#### Step 1: understadning how to create a dataframe

In [24]:
header = ["city", "type", "price"]
data   = map(lambda r: (r[0], r[1], float(r[2])),
  map(lambda x: x.split(","),
    ["Paris,Food,19.00", "Marseille,Clothing,12.00",
     "Paris,Food,8.00", "Paris,Clothing,15.00",
     "Marseille,Food,20.00", "Lyon,Book,10.00"]))
df = spark.createDataFrame(data, header)

In [28]:
df.show()

+---------+--------+-----+
|     city|    type|price|
+---------+--------+-----+
|    Paris|    Food| 19.0|
|Marseille|Clothing| 12.0|
|    Paris|    Food|  8.0|
|    Paris|Clothing| 15.0|
|Marseille|    Food| 20.0|
|     Lyon|    Book| 10.0|
+---------+--------+-----+

In [27]:
data   = map(lambda r: (r[0], r[1], float(r[2])),
  map(lambda x: x.split(","),
    ["Paris,Food,19.00", "Marseille,Clothing,12.00",
     "Paris,Food,8.00", "Paris,Clothing,15.00",
     "Marseille,Food,20.00", "Lyon,Book,10.00"]))
list(data)

[('Paris', 'Food', 19.0),
 ('Marseille', 'Clothing', 12.0),
 ('Paris', 'Food', 8.0),
 ('Paris', 'Clothing', 15.0),
 ('Marseille', 'Food', 20.0),
 ('Lyon', 'Book', 10.0)]

###### Comments 
* One thing we understood is we can create a dataframe by defining a tuple inside a list this is a standard format 
* we also know that tuple is immutable that means we cannot change value inside tuple

##### There are several methods to retrieve / display the contents of a dataframe:
* .collect() method that retrieves the dataframe to the user as a python list.
* .take(n) method that retrieves the « n » first elements of the dataframe.
* .show() method that displays the contents on the standard output.

##### Basic information about  Schema and hwo we can manipulate it

In [31]:
df.collect()

[Row(city='Paris', type='Food', price=19.0),
 Row(city='Marseille', type='Clothing', price=12.0),
 Row(city='Paris', type='Food', price=8.0),
 Row(city='Paris', type='Clothing', price=15.0),
 Row(city='Marseille', type='Food', price=20.0),
 Row(city='Lyon', type='Book', price=10.0)]

In [34]:
df.take(2)

[Row(city='Paris', type='Food', price=19.0),
 Row(city='Marseille', type='Clothing', price=12.0)]

In [36]:
df.printSchema()

root
 |-- city: string (nullable = true)
 |-- type: string (nullable = true)
 |-- price: double (nullable = true)

In [37]:
df.dtypes

[('city', 'string'), ('type', 'string'), ('price', 'double')]

In [52]:
from pyspark.sql.types import StringType, FloatType, StructType, StructField
data = map(lambda r: (r[0], r[1], float(r[2])),
  map(lambda x: x.split(","),
    ["Paris,Food,19.00", "Marseille,Clothing,12.00",
     "Paris,Food,8.00", "Paris,Clothing,15.00",
     "Marseille,Food,20.00", "Lyon,Book,10.00"]))

schema = StructType([
	StructField("city",  StringType(), nullable=True),
	StructField("type",  StringType(), nullable=True),
	StructField("price", FloatType(),  nullable=True)
])

df = spark.createDataFrame(data, schema=schema)
df.show()

+---------+--------+-----+
|     city|    type|price|
+---------+--------+-----+
|    Paris|    Food| 19.0|
|Marseille|Clothing| 12.0|
|    Paris|    Food|  8.0|
|    Paris|Clothing| 15.0|
|Marseille|    Food| 20.0|
|     Lyon|    Book| 10.0|
+---------+--------+-----+

##### Conclusion 
* we learned how to create a datagframe and how we can also specify the datatypes of dataframe

##### Selecting Columns in PySpark

In [54]:
df.select("city").show()

+---------+
|     city|
+---------+
|    Paris|
|Marseille|
|    Paris|
|    Paris|
|Marseille|
|     Lyon|
+---------+

In [55]:
# Selecting Multiple Columns 
df.select(["city", "type"]).show(2)

+---------+--------+
|     city|    type|
+---------+--------+
|    Paris|    Food|
|Marseille|Clothing|
+---------+--------+
only showing top 2 rows

#### Filter commands

In [57]:
df.filter(df.city == "Paris").show()

+-----+--------+-----+
| city|    type|price|
+-----+--------+-----+
|Paris|    Food| 19.0|
|Paris|    Food|  8.0|
|Paris|Clothing| 15.0|
+-----+--------+-----+

In [58]:
df.filter(df.city == "Paris").filter(df.type == "Food").show()

+-----+----+-----+
| city|type|price|
+-----+----+-----+
|Paris|Food| 19.0|
|Paris|Food|  8.0|
+-----+----+-----+

In [61]:
df.filter(
    (df.city == "Paris") & (df.type == "Food") ).show()

+-----+----+-----+
| city|type|price|
+-----+----+-----+
|Paris|Food| 19.0|
|Paris|Food|  8.0|
+-----+----+-----+

In [64]:
df.filter(
    (df.city == "Paris") & (df.price > 18.0) ).select('city').show()

+-----+
| city|
+-----+
|Paris|
+-----+

In [66]:
df.filter(df.price < 20 ).orderBy(df.price.asc()).select("price").show()

+-----+
|price|
+-----+
|  8.0|
| 10.0|
| 12.0|
| 15.0|
| 19.0|
+-----+

In [67]:
df.filter(df.price < 20 ).sort(df.price.asc()).select("price").show()

+-----+
|price|
+-----+
|  8.0|
| 10.0|
| 12.0|
| 15.0|
| 19.0|
+-----+

#### Manipulating Columns

In [69]:
from pyspark.sql.functions import lit, rand
df = df.withColumn("six", lit(6)).show()

+---------+--------+-----+---+
|     city|    type|price|six|
+---------+--------+-----+---+
|    Paris|    Food| 19.0|  6|
|Marseille|Clothing| 12.0|  6|
|    Paris|    Food|  8.0|  6|
|    Paris|Clothing| 15.0|  6|
|Marseille|    Food| 20.0|  6|
|     Lyon|    Book| 10.0|  6|
+---------+--------+-----+---+

In [72]:
df.show()

AttributeError: 'NoneType' object has no attribute 'show'

In [74]:
from pyspark.sql.functions import lit, rand

from pyspark.sql.types import StringType, FloatType, StructType, StructField

data = map(lambda r: (r[0], r[1], float(r[2])),
  map(lambda x: x.split(","),
    ["Paris,Food,19.00", "Marseille,Clothing,12.00",
     "Paris,Food,8.00", "Paris,Clothing,15.00",
     "Marseille,Food,20.00", "Lyon,Book,10.00"]))

schema = StructType([
	StructField("city",  StringType(), nullable=True),
	StructField("type",  StringType(), nullable=True),
	StructField("price", FloatType(),  nullable=True)
])

df = spark.createDataFrame(data, schema=schema)
df = df.withColumn("50percent", df.price / 2).show()

+---------+--------+-----+---------+
|     city|    type|price|50percent|
+---------+--------+-----+---------+
|    Paris|    Food| 19.0|      9.5|
|Marseille|Clothing| 12.0|      6.0|
|    Paris|    Food|  8.0|      4.0|
|    Paris|Clothing| 15.0|      7.5|
|Marseille|    Food| 20.0|     10.0|
|     Lyon|    Book| 10.0|      5.0|
+---------+--------+-----+---------+

##### Dropping columns

In [81]:
df.drop(df.type).show()

+---------+-----+
|     city|price|
+---------+-----+
|    Paris| 19.0|
|Marseille| 12.0|
|    Paris|  8.0|
|    Paris| 15.0|
|Marseille| 20.0|
|     Lyon| 10.0|
+---------+-----+

In [86]:
df.drop(*["city", "price"]).filter(df.type == "Food").show()

+----+
|type|
+----+
|Food|
|Food|
|Food|
+----+

##### Rename Columns

In [87]:
df.withColumnRenamed("city", "CITY").show()

+---------+--------+-----+
|     CITY|    type|price|
+---------+--------+-----+
|    Paris|    Food| 19.0|
|Marseille|Clothing| 12.0|
|    Paris|    Food|  8.0|
|    Paris|Clothing| 15.0|
|Marseille|    Food| 20.0|
|     Lyon|    Book| 10.0|
+---------+--------+-----+

##### Advanced Manipulations
* In order to respond to most situations, PySpark already has a number of pre-implemented functions present in the pyspark.sql.functions module.

* The functions are numerous and of all types. Do not hesitate to refer to it.
* Mathematical functions (cos, sin, tan, abs, exp, log…).
* Dataframes manipulation (concatenate, repartitioning, structure manipulation...).
* Statistics (average, variance, correlation, covariance…).
* Date manipulation.
* Operators of relational algebra.

In [88]:
from pyspark.sql.functions import cos
df = spark.createDataFrame(
  [[1, 2], [2, 3], [3, 4], [4, 5]],
  schema=["x1", "x2"])
df.withColumn("cos_sum", cos(df.x1 + df.x2)).show()

+---+---+-------------------+
| x1| x2|            cos_sum|
+---+---+-------------------+
|  1|  2|-0.9899924966004454|
|  2|  3|0.28366218546322625|
|  3|  4| 0.7539022543433046|
|  4|  5|-0.9111302618846769|
+---+---+-------------------+

###### Group by

In [106]:
simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]

schema = ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data=simpleData, schema = schema)
df.printSchema()
df.show(truncate=False)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

In [107]:
df.groupBy("department").sum("salary").show(truncate=False)

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|Sales     |257000     |
|Finance   |351000     |
|Marketing |171000     |
+----------+-----------+

In [120]:
df.groupBy("state").count().withColumnRenamed("count", "State Count").select("State Count").show()

+-----------+
|State Count|
+-----------+
|          4|
|          5|
+-----------+

In [121]:
df.groupBy("state").mean().show()

+-----+-----------+--------+----------+
|state|avg(salary)|avg(age)|avg(bonus)|
+-----+-----------+--------+----------+
|   CA|    87500.0|   29.75|   22000.0|
|   NY|    85800.0|    45.8|   17000.0|
+-----+-----------+--------+----------+

##### joins in PySpark